body {
	background-color: rgb(226,236,243);	
}
header {
	background-color: rgb(77,137,191);
	height: 50px;
}
.intro {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 35px;
	color: white;
}
.welcomePart {
	background-color: rgb(58,66,82);
	height: 945px;
	padding-top: 135px;
}
.intro.text {
	font-size: 18px;
}
.createWebButton {
	height: 60px;
	width: 230px;
	background-color: rgb(40,45,54);
	margin: 35px auto 0px;
	padding-top: 10px;
}
.innerButton {
	background-color: rgb(80,138,189);
	width: 150px;
	height: 20px;
	margin-left: 10px;
	padding: 15px 30px;
}
.miniButton {
	width: 50px;
	height: 20px;
	background-color: white;
	margin: 210px auto 120px;
}
.introButton {
	width: 300px;
	height: 70px;
	margin: 30px auto 0px;
}
.introduction {
	height: 150px;
	background-color: rgb(233,239,245);
	padding-top: 40px;	
}
.main {
	background-color: rgb(208,210,214);
	padding-top: 15px; 
	padding-bottom: 1px;
}
.hints {
	height: 195px;
	background-color: white;
	margin: 15px 10px 30px;
	padding-top: 20px;
}
.conclusion {
	height: 70px;
	background-color: rgb(233,239,245);
	padding-top: 100px;
	padding-bottom: 
}
.innerButton.second {
	margin: 0 auto;
}
.footer {
	height: 100px;
	background-color: black;
	padding-top: 15px;
	padding-bottom: 20px;
}
.terms {
	color: white;
	text-align: center;
	font-size: 12px;
	font-family: Tahoma, Verdana, sans-serif;
	line-height: 15px;
}
.logo {
	width: 135px;
	height: 25px;
	background-color: white;
	margin: 20px auto;
}
.item {
	margin-right: 25px; 
}
.headerLogo {
	width: 35px;
	height: 35px;
	background-color: white;
	margin-left: 15px;
	float: left;
	margin-top: 7px;
}
.webPage {
	width: 200px;
	float: left;
	height: 35px;
	margin-left: 15px;
	margin-top: 7px;
}
.logIn {
	float: right;
	width: 75px;
	height: 30px;
	background-color: rgb(60,110,163);
	padding:10px;
}
.img {
	width: 50px;
	height: 60px;
	background-color: white;
	float: left;
}
.ideas {
	width: 240px;
	height: 60px;
	float: right;
	margin-bottom: 10px;
}
.pics {
	height: 60px;
	width: 60px;	
	background-color: rgb(201,209,215);
	margin: 0 auto;
}
.phrase {
	height: 20px;
	width: 405px;
	background-color: rgb(201,209,215);
	margin: 10px auto;
}
.info {
	height: 50px;
	width: 405px;
	background-color: rgb(201,209,215);
	margin: 15px auto;
}
.wordpress1 {
	color: white;
	font: 25px Arial sans-serif;
}
.wordpress2 {
	color: rgb(167,195,217);
	font: 25px Arial sans-serif;
}
.log {
	color: white;
	font: 18px Arial sans-serif;
	margin-left: 10px;
}
div.innerButton>span {
	font: 21px Arial, Helvetica, sans-serif;
	color: white;
	text-align: center;

}
.ideas>h2 {
	color: white;
	margin: 0 auto;
	font: 20px Arial, Helvetica, sans-serif;
}
.ideas>p {
	color: white;
	margin: 10px auto;
	font: 13px Arial, Helvetica, sans-serif;
}
.introduction>p {
	font: 25px Arial, Helvetica, sans-serif;
	text-align: center;
	line-height: 50px;
	margin: 0 auto;
}